<div class="chat-shell">
  <header class="chatbox-popup__header">
    <aside style="flex: 2">
      <span class="chatbox-popup__avatar">
  <img src="assets/image2.png" alt="Logo" class="avatar-img" />
</span>
    </aside>
    <aside style="flex: 8; text-align: center">
      <h1>Valleseco</h1>
      Asistente (Online)
    </aside>
    <aside style="flex: 2; text-align: right">
      <button class="chatbox-close" (click)="onClose()" title="Cerrar" style="background: none; border: none; font-size: 22px; cursor: pointer; color: #888;">
        &times;
      </button>
    </aside>
  </header>
  <main class="chatbox-popup__main">
    <div id="welcome-message">
      Facilitamos la comunicación directa y sencilla <br />para que puedas informarte.<br />
      Pregúntanos lo que necesites. <br />
      Estamos aquí para ayudarte en todo momento.
    </div>
    <app-chat-messages [messages]="messages"></app-chat-messages>
    <app-typing-indicator [show]="typing"></app-typing-indicator>
  </main>
  <footer class="chatbox-popup__footer">
    <app-chat-input [form]="askForm" (send)="sendAskSubmit()" (typing)="senderTyping($event)"></app-chat-input>
  </footer>
</div>
